/* Reset de estilos para remover margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para o contêiner principal */
.container {
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para o cabeçalho (Título) */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilo para a seção das opções (selecionar pedra, papel ou tesoura) */
.opcoes select {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Estilo para o botão de jogar */
.jogar {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.jogar:hover {
    background-color: #0056b3;
}

/* Estilo para a div de resultado */
.resultado {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
